<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Circuit Breaker Analytics</title>
    <link href="/stylesheets/global.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>

<div class="container-fluid">
    {{{body}}}
</div>

</body>
</html>